# Build
*.exe
*.dll
*.so
*.dylib
*.a
*.ilk
*.pdb
*.lib
*.exp
*.res
*.out
*.o
*.def
*.obj
webui/
setup

# IDE
.idea/
.vscode/
.vs/
Debug/
Release/

# Python
__pycache__/
dist/
webui2.egg-info/

# Rust
target/
*.lock

# Broken NTFS
nul

# Binary files
lib_test
main
minimal
simple_example
kiosk
call_v_from_js
call_js_from_v
serve_a_folder
text-editor
