# Build
*.exe
*.dll
*.so
*.dylib
*.a
*.ilk
*.pdb
*.lib
*.exp
*.res
*.out
*.o
*.def
*.obj
webui/
setup

# IDE
.idea/
.vscode/
.vs/
Debug/
Release/

# Python
__pycache__/
dist/
webui2.egg-info/

# Rust
target/
*.lock

# Broken NTFS
nul

# Binary files
main
examples/minimal
examples/call_v_from_js
examples/call_js_from_v
examples/serve_a_folder/serve_a_folder
examples/text-editor/text-editor
