# Binaries
*
!*/
!*.*

# Build files
*.exe
*.exe~
*.a
*.so
*.o
*.obj
*.dll
*.so
*.so.*
*.dylib
webui/

# Common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# Private files
.env
*.db

# Generated docs
_docs/
