name: CI

on:
  push:
    paths-ignore: ['**/*.md']
  pull_request:
    paths-ignore: ['**/*.md']

jobs:
  linux:
    uses: ./.github/workflows/linux.yml

  macos:
    uses: ./.github/workflows/macos.yml

  windows:
    uses: ./.github/workflows/windows.yml
